@import url(./loader.css);

:root {
  --width: 1150px;
  --color-primary: #fd6619;
  --color-background: #1e252b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  min-height: 100vh;
}

.button {
  background: var(--color-primary);
  border-radius: 5px;
  font-weight: 700;
  color: var(--color-background);
  padding: 10px 15px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.button-trans {
  border: var(--color-primary) 2px solid;
  background: transparent;
  color: #FFF;
}

#login {
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
  background-color: inherit;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px #fd6519a9;
}

#login h2 {
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 20px;
}

#login .login-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

#login h4 {
  color: #FFF;
  margin-bottom: 5px;
}

#login input {
  font-size: 14px;
  padding: 7px 30px;
  border-radius: 5px;
  color: var(--color-primary);
  background-color: #28333d;
  font-weight: 500;
  border: 2px solid var(--color-background);
}

#login input:focus {
  outline: none;
  border: 2px solid var(--color-primary);
}

.loader {
  display: flex;
  justify-content: center;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.712);
  z-index: 200;
  display: none;
}

#confirmation-modal {
  background-color: #28333d;
  position: fixed;
  width: 400px;
  height: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 300;
  display: none;
}

#confirmation-modal > img {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
  cursor: pointer;
}

#confirmation-modal > h3 {
  font-size: 22px;
}