:root {
  --width: 1150px;
  --color-primary: #fd6619;
  --color-background: #1e252b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  min-height: 100vh;
}

.text-primary {
  font-weight: 700;
  color: var(--color-primary);
}

section {
  display: flex;
  flex-direction: column;
}

#create_account {
  background-color: #FFF;
  padding: 40px 60px;
}

#create_account h1 {
  color: var(--color-primary);
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 20px;
}

#create_account h3 {
  font-size: 28px;
}

#create_account p {
  font-size: 12px;
  margin-bottom: 20px;
}

#create_account form .form-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

#create_account form .form-group label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 700;
  color: var(--color-background);
}

#create_account form .form-group input {
  font-size: 14px;
  padding: 7px 30px;
  border-radius: 20px;
  color: #80858a83;
  font-weight: 500;
  border: 1px solid #80858a83;
}

#create_account form .form-group input:focus {
  outline: none;
}

#create_account form p {
  font-weight: 700;
  color: var(--color-background);
  text-align: right;
}

#create_account form input[type="submit"] {
  font-size: 14px;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 20px;
  color: #FFF;
  width: 100%;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  margin-bottom: 20px;
}

#create_account form ~ p {
  font-weight: 700;
}

#create_account form ~ p span {
  color: var(--color-primary);
}

#create_account form .row {
  display: flex;
}

#membership {
  align-items: center;
}

#membership input {
  margin-right: 10px;
  margin-left: 20px;
}

#contact_number {
  width: 248px;
}

#firstName,
#contact_number,
#email {
  margin-right: 20px;
}

#create_account form .column {
  display: flex;
  flex-direction: column;
}

.terms_font{
	font-size: 10px;
	padding-bottom: 5px;
}

.terms_checkbox{
	width: 13px;
	height: 13px;
	padding: 0;
	margin:0;
	vertical-align: bottom;
	position: relative;
	top: -1px;
	*overflow: hidden;
}


