@import url(./loader.css);

:root {
  --width: 1150px;
  --color-primary: #fd6619;
  --color-background: #1E252B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  background: var(--color-primary);
  border-radius: 5px;
  font-weight: 700;
  color: var(--color-background);
  padding: 10px 15px;
  width: fit-content;
}

.button-trans {
  border: var(--color-primary) 2px solid;
  background: transparent;
  color: #FFF;
}

.button-big {
  font-size: 20px;
  padding: 15px 30px;
}

.text-primary {
  color: var(--color-primary);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  width: 100vw;
  overflow-x: hidden;
  color: #FFF;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 40px;
  background-color: inherit;
  position: fixed;
}

header h1 {
  color: var(--color-primary);
  font-weight: 900;
  font-size: 32px;
}

header ul {
  display: flex;
  flex-direction: row;
}

header ul li {
  margin: 0 10px;
  padding: 10px 15px;
}

#sign-in-nav {
  display: flex;
  flex-direction: row;
}

#sign-in-nav > div {
  margin-left: 10px;
}

#hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: var(--width);
  margin-top: 150px;
}

#hero-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 40%;
  padding-right: 10%;
}

#hero-left p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ff9c6b;
}

#hero-left h2 {
  font-size: 30px;
  text-align: left;
  letter-spacing: 3px;
  width: 70%;
  background: linear-gradient(#fff, #ff9c6b);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
}

#hero-left .button {
  display: flex;
  align-items: center;
}

#hero-right {
  width: 40%;
}

#PW {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: var(--width);
  margin-top: 100px;
  margin-bottom: 50px;
}

#PW-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 40%;
  padding-right: 10%;
}

#PW-left p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ff9c6b;
}

#PW-left h2 {
  font-size: 30px;
  text-align: left;
  letter-spacing: 3px;
  width: 70%;
  background: linear-gradient(#fff, #ff9c6b);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  margin-bottom: 50px;
}

#PW-left .button {
  display: flex;
  align-items: center;
}

#PW-right {
  width: 40%;
}

#change_pw form .form-group input {
  font-size: 14px;
  padding: 7px 30px;
  border-radius: 20px;
  color: black;
  font-weight: 500;
  border: 1px solid #80858a83;
}

#change_pw form input[type="submit"] {
  font-size: 14px;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 20px;
  color: #FFF;
  width: 100%;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  margin-bottom: 20px;
}


#change_pw form .form-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

#change_pw form .form-group label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 700;
  color: white;
}

#payment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: var(--width);
  margin-top: 100px;
  margin-bottom: 200px;
}

#payment-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 40%;
  padding-right: 10%;
}

#payment-left p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ff9c6b;
}

#payment-left h2 {
  font-size: 30px;
  text-align: left;
  letter-spacing: 3px;
  width: 70%;
  background: linear-gradient(#fff, #ff9c6b);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
}

#payment-left .button {
  display: flex;
  align-items: center;
}

#payment-right {
  width: 40%;
}

#payment_f form .form-group input {
  font-size: 14px;
  padding: 7px 30px;
  border-radius: 20px;
  color: #80858a83;
  font-weight: 500;
  border: 1px solid #80858a83;
}

#payment form .form-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

#payment form .form-group label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 700;
  color: white;
}

#payment_f form .form-group-grid input {
  font-size: 14px;
  padding: 7px 30px;
  border-radius: 20px;
  color: #80858a83;
  font-weight: 500;
  border: 1px solid #80858a83;
  width: 100px;
}

#payment form .form-group-grid {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

#payment form .form-group-grid label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 700;
  color: white;
}

#grid {
  display: grid;
  width: 800px;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 10px;
  grid-template-areas: 
   "a b";
}

#payment_f form input[type="submit"] {
  font-size: 14px;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 20px;
  color: #FFF;
  width: 100%;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  margin-bottom: 20px;
}

.loader {
  display: flex;
  justify-content: center;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.712);
  z-index: 200;
  display: none;
}

#confirmation-modal {
  background-color: #28333d;
  position: fixed;
  width: 400px;
  height: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 300;
  display: none;
}

#confirmation-modal > img {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
}

#confirmation-modal > h3 {
  font-size: 22px;
}

