@import url(./loader.css);

:root {
  --width: 1150px;
  --color-primary: #fd6619;
  --color-background: #1E252B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: row;
  background-color: var(--color-background);
  color: #FFF;
  width: 100%;
}

#navigation {
  padding: 30px;
  height: 100vh;
  background-color: #28333d;
  width: 233px;
  position: fixed;
}

#navigation ul {
  text-align: center;
}

#navigation ul li {
  margin: 10px 0;
}

#navigation ul li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

#navigation ul li a.active {
  background-color: #fd6619;
  border-radius: 5px;
}

#navigation ul li a img {
  margin-right: 5px;
}

#logo {
  color: var(--color-primary);
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 100px;
  text-align: center;
}

#all-members {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-left: 233px;
}

#header h2 {
  font-size: 30px;
  text-align: left;
  letter-spacing: 3px;
  background: linear-gradient(#fff, #ff9c6b);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 50px;
  text-align: center;
}

#header p {
  font-size: 12px;
  margin-bottom: 50px;
  color: #ff9c6b;
  text-align: center;
}

#table-header {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: var(--color-primary);
  padding: 7px 0px;
  border-radius: 5px;
}

#table-header > p {
  color: black;
  font-weight: 700;
  width: 160px;
}

#table-body {
  display: flex;
  flex-direction: column;
}

#table-body > .row {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #28333d;
  padding: 7px 0px;
  border-radius: 5px;
  border-top: 1px solid var(--color-background);
  border-bottom: 1px solid var(--color-background);
}

#table-body > .row > p {
  width: 160px;
}

.loader {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.712);
  z-index: 200;
  display: none;
}

#confirmation-modal {
  background-color: #28333d;
  position: fixed;
  width: 400px;
  height: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 300;
  display: none;
}

#confirmation-modal > img {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
}

#confirmation-modal > h3 {
  font-size: 22px;
}